<div class="container">

  <h1 class="txt anim-text-flow"> Gender Difference Inside of Fetish Topics </h1>

  <p>Search for the name of a fetish using the search icon in the upper right corner.
    Then click on the "Get Data" to view the comparison of numbers amoung the various genders that declair an interest in that fetish. </p>
  </div>

  <div class="search">
    <div class="icon"></div>
    <div class="form">
      <%= form_tag(topics_path, method: :post) do %>
      <%= text_field_tag :term, params[:term], class:"input", id:"search-input" %>
      <%= submit_tag 'Search', class: "search-btn", id:"search-btn" %>
      <% end %>
    </div>

  </div>
