<h1>Topic: <%= @topic.name %></h1>

<h5><%= link_to "Get Data", new_topic_profile_path(@topic) %></h5>
<h5><%= link_to "Delete", topics_path(@topic.id),
                         :data => {:confirm => "Are you sure?",
                                   :method => "delete"} %></h5>

<h5><%= link_to "Return to search", topics_path %></h5>
