<h1>Topic: <%= @topic.name %></h1>

<p><%= link_to "Get Data", new_topic_profile_path(@topic) %></p>
<p><%= link_to "Delete", topics_path(@topic.id),
                         :data => {:confirm => "Are you sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to search", topics_path %></p>
