<body class="page contactspg body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide preloader vc_responsive menu_mobile">
<div id="page_preloader" style="opacity: 0; display: none;"></div>
<a id="toc_home" class="sc_anchor" title="Home" data-description="<i>Return to Home</i> - <br>navigate to home page of the site" data-icon="icon-home" data-url="index.html" data-separator="yes"></a>
<a id="toc_top" class="sc_anchor" title="To Top" data-description="<i>Back to top</i> - <br>scroll to top of the page" data-icon="icon-double-up" data-url="" data-separator="yes"></a>

<div class="body_wrap">
    <div class="page_wrap">
        <div class="top_panel_fixed_wrap"></div>
        <header class="top_panel_wrap top_panel_style_3 scheme_original menu_show" style="display: none;">
            <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                <div class="top_panel_middle">
                    <div class="content_wrap">
                        <div class="contact_logo">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo.png" class="logo_main" alt="" width="128" height="124">
                                    <img src="images/alternative-logo.png" class="logo_fixed" alt="" width="161" height="47">
                                </a>
                            </div>
                        </div>
                        <div class="menu_main_wrap">
                            <a href="#" class="menu_main_responsive_button icon-menu"></a>
                            <nav class="menu_main_nav_area">
                                <ul id="menu_main" class="menu_main_nav inited sf-js-enabled sf-arrows">
                                    <li class="menu-item"><a href="index.html">Home</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Reservations</a>
                                        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                            <li class="menu-item"><a href="calendar.html">Calendar</a></li>
                                            <li class="menu-item"><a href="tables.html">Tables Scheme</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="menu.html">Menu</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Blog</a>
                                        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                            <li class="menu-item"><a href="blog-sidebar.html">Blog With Sidebar</a></li>
                                            <li class="menu-item"><a href="blog.html">Blog Without Sidebar</a></li>
                                            <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Blog Masonry</a>
                                                <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                                    <li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 Columns</a></li>
                                                    <li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 Columns</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="post-formats.html">Post Formats</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Features</a>
                                        <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                            <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Tools</a>
                                                <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                                    <li class="menu-item"><a href="support.html">Support</a></li>
                                                    <li class="menu-item"><a href="customization.html">Customization</a></li>
                                                    <li class="menu-item"><a href="video.html">Video Tutorials</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="about.html">About Us</a></li>
                                            <li class="menu-item"><a href="team.html">Our Team</a></li>
                                            <li class="menu-item"><a href="single-team.html">Team member</a></li>
                                            <li class="menu-item"><a href="clients.html">Our Clients</a></li>
                                            <li class="menu-item"><a href="testimonials.html">Testimonials</a></li>
                                            <li class="menu-item"><a href="typography.html">Typography</a></li>
                                            <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                                            <li class="menu-item menu-item-has-children"><a href="#" class="sf-with-ul">Gallery</a>
                                                <ul class="sub-menu animated fast fadeOutDown" style="display: none;">
                                                    <li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
                                                    <li class="menu-item"><a href="grid.html">Grid</a></li>
                                                    <li class="menu-item"><a href="masonry.html">Masonry</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item"><a href="404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="shop.html">Shop</a></li>
                                    <li class="menu-item current-menu-item"><a href="contacts.html">Contacts</a></li>
                                <li id="blob" style="width: 125px; height: 41px; left: 666.188px; top: 0px; background-color: rgb(0, 198, 255); opacity: 0;"></li></ul>
                            </nav>
                            <div class="contact_cart">
                                <a href="#" class="top_panel_cart_button" data-items="0" data-summa="$0.00">
                                    <span class="contact_icon icon-shopping"></span>
                                    <span class="contact_label contact_cart_label">Your cart:</span>
                                    <span class="contact_cart_totals">
		                                <span class="cart_items">0 Items</span> -
                                        <span class="cart_summa">$0.00</span>
                                    </span>
                                </a>
                                <ul class="widget_area sidebar_cart sidebar">
                                    <li>
                                        <div class="widget woocommerce widget_shopping_cart">
                                            <div class="hide_cart_widget_if_empty">
                                                <div class="widget_shopping_cart_content">
                                                    <ul class="cart_list product_list_widget">
                                                        <li class="empty">No products in the cart.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header_mobile" style="display: block;">
            <div class="content_wrap">
                <div class="menu_button icon-menu"></div>
                <div class="logo">
                    <a href="index.html">
                        <img src="images/logo.png" class="logo_main" alt="" width="128" height="124">
                    </a>
                </div>
                <div class="menu_main_cart top_panel_icon">
                    <a href="#" class="top_panel_cart_button" data-items="0" data-summa="$0.00">
                        <span class="contact_icon icon-shopping"></span>
                        <span class="contact_label contact_cart_label">Your cart:</span>
                        <span class="contact_cart_totals">
		                    <span class="cart_items">0 Items</span> -
                            <span class="cart_summa">$0.00</span>
                        </span>
                    </a>
                    <ul class="widget_area sidebar_cart sidebar">
                        <li>
                            <div class="widget woocommerce widget_shopping_cart">
                                <div class="hide_cart_widget_if_empty">
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget">
                                            <li class="empty">No products in the cart.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="side_wrap">
                <div class="close">Close</div>
                <div class="panel_top">
                    <nav class="menu_main_nav_area">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <li class="menu-item"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Reservations</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="calendar.html">Calendar</a></li>
                                    <li class="menu-item"><a href="tables.html">Tables Scheme</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="menu.html">Menu</a></li>
                            <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="blog-sidebar.html">Blog With Sidebar</a></li>
                                    <li class="menu-item"><a href="blog.html">Blog Without Sidebar</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="masonry-2-columns.html">Masonry 2 Columns</a></li>
                                            <li class="menu-item"><a href="masonry-3-columns.html">Masonry 3 Columns</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="post-formats.html">Post Formats</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Tools</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="support.html">Support</a></li>
                                            <li class="menu-item"><a href="customization.html">Customization</a></li>
                                            <li class="menu-item"><a href="video.html">Video Tutorials</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="about.html">About Us</a></li>
                                    <li class="menu-item"><a href="team.html">Our Team</a></li>
                                    <li class="menu-item"><a href="single-team.html">Team member</a></li>
                                    <li class="menu-item"><a href="clients.html">Our Clients</a></li>
                                    <li class="menu-item"><a href="testimonials.html">Testimonials</a></li>
                                    <li class="menu-item"><a href="typography.html">Typography</a></li>
                                    <li class="menu-item"><a href="shortcodes.html">Shortcodes</a></li>
                                    <li class="menu-item menu-item-has-children"><a href="#"><span class="open_child_menu"></span>Gallery</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="cobbles.html">Cobbles</a></li>
                                            <li class="menu-item"><a href="grid.html">Grid</a></li>
                                            <li class="menu-item"><a href="masonry.html">Masonry</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="shop.html">Shop</a></li>
                            <li class="menu-item current-menu-item"><a href="contacts.html">Contacts</a></li>
                        </ul>
                    </nav>
                    <div class="search_wrap search_style_regular search_state_fixed search_ajax inited">
                        <div class="search_form_wrap">
                            <form role="search" method="get" class="search_form" action="#">
                                <button type="submit" class="search_submit icon-search-light" title="Start search"></button>
                                <input type="text" class="search_field" placeholder="Search" value="" name="s">
                            </form>
                        </div>
                        <div class="search_results widget_area scheme_original">
                            <a class="search_results_close icon-cancel"></a>
                            <div class="search_results_content"></div>
                        </div>
                    </div>
                    <div class="login">
                        <a href="#popup_login" class="popup_link popup_login_link icon-user inited">Login</a>
                    </div>
                    <div class="login">
                        <a href="#popup_registration" class="popup_link popup_register_link icon-pencil inited">Register</a>
                    </div>
                </div>
                <div class="panel_bottom">
                    <div class="contact_socials">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_gplus">
                                    <span class="icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_linkedin">
                                    <span class="icon-linkedin"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_skype">
                                    <span class="icon-skype"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </div>

        <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
            <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner breadcrumbs_1">
                <div class="content_wrap">
                    <h1 class="page_title">Contacts</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Contacts</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="page_content_wrap page_paddings_yes">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item post_item_single post_featured_default post_format_standard page hentry">
                        <section class="post_content">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1455186654343">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h2 class="sc_title sc_title_regular sc_align_center margin_top_null margin_bottom_small">Get in touch</h2>
                                            <div class="sc_section margin_bottom_large aligncenter">
                                                <div class="sc_section_inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>
                                                                Every Monday, Tuesday and Wednesday evening, we’re offering groups of 10 or more
                                                                that book an area in our bar a complimentary bottle of Champagne. <br>
                                                                Open hours: 8.00-18.00 Mon-Sat <br>
                                                                Call our reservations team on (027) 8338 145 for more information.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <a href="/reservations" class="sc_button sc_button_square sc_button_style_border_1 sc_button_size_medium margin_top_medium">reservation</a>
                                                </div>
                                            </div>
                                            <div class="sc_section aligncenter w70">
                                                <div class="sc_section_inner">
                                                    <div class="sc_line sc_line_position_center_center sc_line_style_solid margin_bottom_large"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1455183321063">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="sc_section margin_right_null margin_left_null aligncenter">
                                                <div class="sc_section_inner">
                                                    <h5 class="sc_title sc_title_regular margin_top_small">follow us</h5>
                                                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_medium">
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_twitter">
                                                                <span class="icon-twitter"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_facebook">
                                                                <span class="icon-facebook"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_gplus">
                                                                <span class="icon-gplus"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_linkedin">
                                                                <span class="icon-linkedin"></span>
                                                            </a>
                                                        </div>
                                                        <div class="sc_socials_item">
                                                            <a href="#" target="_blank" class="social_icons social_skype">
                                                                <span class="icon-skype"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div id="sc_form_132_wrap" class="sc_form_wrap">
                                                        <div id="sc_form_132" class="sc_form sc_form_style_form_1 margin_top_small margin_bottom_medium">
                                                            <form id="sc_form_132_form" data-formtype="form_1" method="post" action="includes/sendmail.php" class="inited">
                                                                <div class="sc_form_info">
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_username">Name</label>
                                                                        <input id="sc_form_username" type="text" name="username" placeholder="Name *">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_email">E-mail</label>
                                                                        <input id="sc_form_email" type="text" name="email" placeholder="E-mail *">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_field label_over">
                                                                        <label class="required" for="sc_form_subj">Subject</label>
                                                                        <input id="sc_form_subj" type="text" name="subject" placeholder="Subject">
                                                                    </div>
                                                                </div>
                                                                <div class="sc_form_item sc_form_message label_over">
                                                                    <label class="required" for="sc_form_message">Message</label>
                                                                    <textarea id="sc_form_message" name="message" placeholder="Message"></textarea>
                                                                </div>
                                                                <div class="sc_form_item sc_form_button">
                                                                    <button>Send Message</button>
                                                                </div>
                                                                <div class="result sc_infobox"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="sc_section margin_bottom_huge">
                                                <div class="sc_section_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                    <section class="related_wrap related_wrap_empty"></section>
                </div>
            </div>
        </div>

        <footer class="contacts_wrap scheme_original">
            <div class="contacts_wrap_inner">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/logo_footer.png" class="logo_footer" alt="" width="95" height="90">
                        </a>
                    </div>
                    <div class="contacts_address">
                        <div class="about_company">
                            Morbi sed justo felis. Phasellus condimentum ornare maximus.
                            Nulla convallis tortor pellentesque tortor vulputate, eget bibendum nibh interdum.
                        </div>
                        <address class="address_right">
                            Phone: 888-456-7890<br>
                            Fax: 889-098-7654
                        </address>
                        <address class="address_left">
                            Chicago, IL 60606<br>
                            123, New Lenox
                        </address>
                    </div>
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_medium">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">
                                <span class="icon-twitter"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">
                                <span class="icon-facebook"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_gplus">
                                <span class="icon-gplus"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_linkedin">
                                <span class="icon-linkedin"></span>
                            </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_skype">
                                <span class="icon-skype"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright_wrap copyright_style_text  scheme_original">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="copyright_text">
                        <a href="#">ThemeRex</a> © 2015 All Rights Reserved
                        <a href="#">Terms of Use</a> and
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
